<!-- <app-video-details-upload></app-video-details-upload> -->




   <!-- <div class="image">
   <div class="container" >
    <div>
    <a href="#" class="logo">MooTube</a>

    <nav>
      <ul>
        <li><a href="#" routerLink="/">Our Videos</a></li>
        <li><a href="#" routerLink="/post">upload details</a></li>

      </ul>
    </nav>
    </div>
</div> -->


<h1>Share your Videos with your friends at Moo Tube</h1>
<div class="container" class="image">
  <router-outlet></router-outlet>
</div>

<app-video-upload></app-video-upload>

