<div style="text-align:left;width:500px;">
  <h1>
      {{ title }}
  </h1>

  <table *ngIf="videosArray">
      <!-- ADD HEADERS -->
      <tr>
          <th>Title</th>
              <th>Location</th>
                  <th>Type of Video</th>
                      <th>Video link</th>
      </tr>

      <!-- BIND ARRAY TO TABLE -->
      <tr *ngFor="let vid of videosArray">
          <td>{{vid.title}}</td>
              <td>{{vid.location}}</td>
                  <td>{{vid.subject}}</td>
                      <td>{{vid.duration}}</td>
      </tr>
  </table>
</div>

<button routerLink="/post">Upload Video Here</button>
